# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin

*.class
*.classpath
*.project
.metadata*
true

MySchoolBase/bin
MySchoolBase/target
MySchoolInfrastructure/bin
MySchoolInfrastructure/target
MySchoolSautil/bin
MySchoolSautil/target
MySchoolScheduler/bin
MySchoolScheduler/target
MySchoolService/bin
MySchoolService/target
MySchoolWeb/bin
MySchoolWeb/target
