.brick {
  background-color: white;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:1px solid #888;
  box-shadow: 5px 5px 5px #888;
}
.TileHeader {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  background-image: url('../images/bg.png');
  color: white;
}
.TileHeader strong {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.TileHeader img {
  float: right;
  padding-right: 4px;
}
.TileContent {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.fc-view .fc-event {
  height: 16px;
  font-size: 10px;
}
