.free-wall {
margin: 5px;
}
.add-more {
margin: 15px;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
font-size: 0;
overflow: hidden;
height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
font-size: 0;
overflow: hidden;
width: 2px !important;
}

.TileTable {
}
.TileTable caption {
  background-color: #314357;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}
.TileTable tbody tr td,
.TileTable tr td {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}