/******************** PAGE BOTTOM LINKS ****************************/
#PageFooter {
    position:absolute;
    bottom:0;
    width:100%;
    height:20px;

    background-image: url('../images/bg.png');
    border-width: 0px;
    color: white;
    letter-spacing: 1px;

    font-size: 0.60em;
    font-weight: bold;
}

#PageFooterLinks {
    position:absolute;
    bottom: 20px;
    width:100%;
    /*height:40px;*/
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

#FooterStaticLinksTable {
  width: 100%;
  background-color: #212121;
  border-collapse: collapse; 
  border: 1px inset white;
}
#FooterStaticLinksTable tr td a {
    color: #888;
    font-size: 0.70em;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    text-decoration: none;
}
#FooterStaticLinksTable tr td a:hover {
    color: #888;
    font-size: 0.70em;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    text-decoration: underline;
}