/****************************** ACTION STATUS STYLES ***********************/
#action-result {
    font-size: 0.8em;
    width: 80%;
}

.action-result-error {
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    color: red;
    text-align: center;
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;
}

/********************************* ERROR STYLES **************************/
.fieldErrorClass {
    width: 94%;
    color: #003366;
    font-size: 1em;
    border: 1px solid red;
}

.error {
    font-size:14px;
    font-weight:bold;
    color:red;
    text-align:center;
}

.success {
    font-size:14px;
    font-weight:bold;
    color:green;
    text-align:center;
    font-style:italic;
}
