.formTable {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-collapse: collapse; 
    border: 1px solid #C2D5E8;
}

/********************************* DATA TABLE STYLES **************************/
.dataTableCaption {
    background-color: #47414E;
    font-size: 1em;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    box-shadow: 5px 5px 5px #888;
}

/********************************* FORM STYLES **************************/
.formLabel {
    color: #888888;
    font-size: 1.1em;
    padding-right: 5px;
    text-align: right;
}
.formLabel .mandatory {
    color: red;
    font-size: 1.3em;
}
.formInputText {
    width: 94%;
    text-align: left;
    color: #003366;
    font-size: 1em;
    padding-right: 5px;
    border: 1px solid #C2D5E8;
}

.formButton,
.userFormTable tr td .active[type="button"] {
    background-color: #47414E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CDD1D4;
    display: inline-block;
    cursor: pointer;
    color: #EEE;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    letter-spacing: 1px;
}

.formButton:hover,
.userFormTable tr td .active[type="button"]:hover {
    background-color: #CDD1D4;
	color: #333;
}
.formButton:active {
    position:relative;
    top:1px;
}

.formLink {
    font-size: 0.85em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.formLink:hover {
    text-decoration: underline;
}

.formSelect {
    width: 100%;
    height: 120px;
    color: #003366;
    box-shadow: 10px 10px 5px #888;
    font-size: 16px;
}

.datepicker {
    width: 80%;
    color: #003366;
    font-size: 16px;
}

.lookup {
    width: 80%;
    color: #003366;
    box-shadow: 10px 10px 5px #888;
    font-size: 16px;
}

.formRadio {
    width:100%;
    color: #003366;
    box-shadow: 10px 10px 5px #888;
    font-size: 16px;
}

/********************* USER FORM STYLES ************************/

.userFormTable {
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-collapse: collapse; 
}

.userFormTable tr .label {
    text-align: right;
    color: #888888;
    font-size: 1.1em;
    padding-right: 5px;
    vertical-align: top;
}
.userFormTable tr td .mandatory {
    text-align: left;
    font-style: italic;
    font-size: 1.2em;
    color: red;
}

.userFormTable tr .value input[type="text"] {
    width: 90%;
    text-align: left;
    color: #003366;
    font-size: 1em;
    padding-right: 5px;
    border: 1px solid #C2D5E8;
}

.userFormTable tr .value textarea {
    width: 90%;
    text-align: left;
    color: #003366;
    font-size: 1em;
    padding-right: 5px;
    border: 1px solid #C2D5E8;
}

/********************************* ICON IMAGE STYLES **************************/
img.iconImage {
    border: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    * cursor: hand;
    padding-left: 3px;
    padding-right: 3px;
}
img.thumbnail {
    margin: 2px 2px 2px 2px;
    width: 65px;
    height: 78px;
    border: 0px solid red;
}
img.passport {
    margin: 2px 2px 2px 2px;
    width: 150px;
    height: 180px;
    border: 0px solid red;
}
.thumbnailCheck {
    position: relative;
    top: -20px;
    left: -24px;
    background-color: black;
}

.text-counter {
    font-size: 0.9em;
    letter-spacing: 1px;
}

.text-count {
    font-size: 0.9em;
    letter-spacing: 1px;
}